@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a,
button {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.loadingSpinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: radial-gradient(#008891, #00587a);
}

.noSpinner {
  display: none;
}

.showResponse {
  position: fixed;
  z-index: 1000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: 10px;
  right: 10px;
  opacity: 100;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.showResponse .responseTxt {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  padding: 15px;
  background-color: white;
  border-radius: 10px 0 10px 0;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.showResponse .responseTxt p {
  font-size: 18px;
}

.hideResponse {
  position: fixed;
  z-index: 1000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100vh;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.hideResponse .responseTxt {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px;
  background-color: white;
  border-radius: 10px 0 10px 0;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.hideResponse .responseTxt p {
  font-size: 18px;
}

.lds-ring-hidden {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */