@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$colorA: rgb(255, 255, 255);
$colorB: rgb(0, 0, 0);
$colorC: rgb(128, 128, 128);
$colorD: rgb(192, 192, 192);
$colorE: rgb(0, 128, 128);
$colorF: rgb(178, 59, 59);

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
